<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('Book Search')"></head>
<body>
<th:block th:replace="partials/navbar :: navbar"> </th:block>



    <div class="row">
        <div class="searchBar col-4">

            <form th:action="@{/books}" th:method="POST" class="search-form">

                <div class="input-group mt-5 m-3">
                    <div>
                        <h2>Search For a Book</h2>
                    </div>

                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Choose Search Format</label>
                    </div>
                    <select class="custom-select" id="inputGroupSelect01">
                        <option selected>None...</option>
                        <option value="1">Title</option>
                        <option value="2">Author</option>
                        <option value="3">ISBN Number</option>
                    </select>

                    <div class="input-group m-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">Search Criteria</span>
                        </div>
                        <input type="text" class="form-control" placeholder="edit search" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </div>


                    <div class="input-group-prepend mt-5">
                        <label class="input-group-text" for="inputGroupSelect02">Choose Search Format</label>
                    </div>
                    <select class="custom-select mt-5" id="inputGroupSelect02">
                        <option selected>None...</option>
                        <option value="1">Title</option>
                        <option value="2">Author</option>
                        <option value="3">ISBN Number</option>
                    </select>

                    <div class="input-group m-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default2">Search Criteria</span>
                        </div>
                        <input type="text" class="form-control" placeholder="edit search" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default2">
                    </div>
                </div>

            </form>

        </div>
        <div id="content" class="card-group col-8"></div>
    </div>



<th:block th:replace="partials/scripts :: scripts"> </th:block>
<script type="text/javascript" th:src="@{/js/search-books.js}"></script>
</body>
</html>
