<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('Books')"></head>
<body>
<th:block th:replace="partials/navbar :: navbar"> </th:block>

    <div class="row">
        <div class="searchBar col-4">
            <h1>TEST FORM SPACE</h1>
            <p>test content</p>
        </div>
        <div id="content" class="card-group col-8"></div>
    </div>



<th:block th:replace="partials/scripts :: scripts"> </th:block>
<script type="text/javascript" th:src="@{/js/search-books.js}"></script>
</body>
</html>
